body {
    font-size: x-large;
    background-color: paleturquoise;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1,
div,
p.copyright {
    text-align: center;
}

a {
    margin: 5%;
    color: blue;
}

table,
form {
    margin: 0;
}

input.textarea {
    font-size: 20px;
    height: 100px;
    background-color: yellow;
    color: blue;
}

input {
    background-color: blue;

}