body {
    font-size: x-large;
    background-color: yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
}

h1,
h2,
div,
p.copyright {
    text-align: center;
}

a {
    margin: 5%;
    color: blue;
}